.booking-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.booking-form-label {
  color: #1c1c1c;
  font-size: 20px;
}

.booking-form-input,
.booking-form-select {
  height: 2.5rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 0.375rem;
  background: #ffffff;
  color: #495e57;
  cursor: pointer;
  transition: border-color 0.3s;
}

.booking-form-input:focus,
.booking-form-select:focus {
  border-color: #495e57;
}

.booking-form-item {
  display: flex;
  flex-direction: column;
}

.booking-form-button {
  display: flex;
  justify-content: center;
}

.error {
  border-color: red !important;
}
